<div class="container-fluid" id="about">
  <div class="container">
  	<div class="row" id="info-blocks">
    	
      <div class="col-xs-12 col-md-4" id="blue"></div>
      <div class="col-xs-12 col-md-4" id="black"></div>
      <div class="col-xs-12 col-md-4" id="blue"></div>


    </div> <!-- end row -->
   </div> <!-- end container -->
</div> <!-- end jumbotron -->