<div class="container-fluid" id="index">
  <div class="container" id="resrunlogo">
 	<div class="col-sm-12 col-md-4 col-md-offset-4" id="details">
      <h2>Enter details below</h2>
    </div>

    <hr class="style2">


 
  </div> <!-- end container -->
</div> <!-- end jumbotron -->

