<div class="container-fluid" id="home">

  <div class="row" id="resrunlogo">
    <div class="col-sm-4 col-md-2 col-md-offset-5" id="resrunlogo">
      <%= image_tag ('res-run-1.png'), class:"img-responsive"%>
    </div>
  </div> <!-- end resrunlogo -->

  <div class="row" id="intro">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
          <h2>A half marathon,10k &amp; 5k<br>race at Derwent Reservoir.</h2>

          <div class="col-sm-12 col-md-4 col-md-offset-4" id="home-date">
          <h3>31/01/2016</h3>
        </div>
        

        </div>
    </div>

  <div class="row" id"reg-btn">
    <div class="col-sm-12 col-md-5">
      <hr class="style2">
    </div>

    <div class="col-sm-12 col-md-2" id="register-btn">
      <div class="text-center">
        <%= link_to "REGISTER", races_path, class: "btn btn-lg" %>
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <hr class="style2">
    </div>
      
  </div> <!-- reg-btn row ends -->

</div> --> <!-- end container-fluid -->

