<div class="container-fluid">

<!--   <div class="row" id="resrunlogo">
    <div class="col-sm-4 col-md-2 col-md-offset-5" id="resrunlogo">
      <%= image_tag ('res-series-sm.svg'), class:"img-responsive"%>
    </div>
  </div> <!-- end resrunlogo --> 

  <div class="row" id="intro">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h4>A half marathon,<br>10k &amp; 5k race at<br> Derwent Reservoir.</h4>

    <div class="col-sm-12 col-md-4 col-md-offset-4" id="home-date">
      <h3>31/01/2016</h3>
    </div>
    </div>
  </div> <!-- end intro -->


  <div class="row" id"reg-btn">
    <div class="col-sm-12 col-md-5">
      <hr class="style2">
    </div>

    <div class="col-sm-12 col-md-2" id="register-btn">
      <div class="text-center">
        <%= link_to "REGISTER", races_path, class: "btn btn-lg" %>
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <hr class="style2">
    </div>
      
  </div> <!-- reg-btn row ends -->

    <div class="row" id="messages">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
    <div class="alert">
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
  </div>

  
  <div class="alert">
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>
  </div>
</div>
</div> <!-- end messages -->

</div> --> <!-- end container-fluid -->

