<div class="container-fluid">
  <div class="row row-centered" id="races-all">
  
  <% @products.each do |product| %>
        
	 <%= render partial: "products/block", locals: {product: product, visit: true} %>

    <% end %>
  </div>

</div> <!-- end index --> 