<div class="container-fluid" id="index">
  <div class="container" id="resrunlogo">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <%= image_tag "res-run-logo-lg-03.png", class:"img-responsive"%>
    </div>

    <div class="col-sm-12 col-md-4 col-md-offset-4" id="date">
      <h2>31.01.16</h2>
    </div>

    <hr class="style2">

    <div class="text-center"><button class="btn btn-large btn-default" type="button">ENTER</button></div>
 
  </div> <!-- end container -->
</div> <!-- end jumbotron -->




