<div class="container-fluid" id="login">
  <div class="row" id="info-blocks">
    <div class="center-block" id="login-black">
    </div>
  </div> <!-- end row -->

  <div class="center-block text-center" id="login-back-btn">
    <div class="row">
      <%= link_to 'Back', races_path, class: 'btn btn-sm'%>
    </div> <!-- row ends -->
</div>


</div> <!-- end about -->