<div class="container-fluid" id="register">
  <div class="container" id="races">
  	<div class="row" id="info-block2">
    	
      <div class="col-xs-12 col-md-4" id="black"></div>
      <div class="col-xs-12 col-md-4" id="black"></div>
      <div class="col-xs-12 col-md-4" id="black"></div>

	</div> <!-- end row
   </div> <!-- end container -->
</div -->> <!-- end jumbotron -->