<div class="container-fluid" id="reviews">
  <div class="row">
  
  <div class="col-xs-12 col-md-4" id="left-block">
    <div class="row">
      <div class="col-xs-12 col-md-8" id="race-date">
        <p id="p04">
        Race logo and date to go in here
        </p>
      </div> <!-- end race-date -->
    </div> <!-- end row -->
    
    <div class="row">
      <div class="col-sm-12" id="h-rules">
        <hr class="style2">
      </div>
    </div>
  </div> <!--ends left-block -->

    <div class="col-xs-12 col-md-8" id="right-block">
      <div class="row" id="review-comment">
        <div class="col-xs-12 col-md-6" id="user-review">
          <p id="p04">
          User review form to go in here
          </p>
            <!-- comments and rating -->
      
            <!-- ends comments and rating -->
        </div> <!-- end user-review -->

         <div class="col-xs-12 col-md-6" id="other-review">
          <p id="p04">
          Other comment form to go in here
          </p>
        </div> <!-- end other-review -->
      
      </div> <!-- end row review-comment -->
    </div>	<!-- end right-block -->
	
  </div> <!-- ends row -->
</div> <!-- ends review -->