<div class="container-fluid" id="reviews">
	<div class="row">
		<div class="col-xs-12 col-md-4" id="left-block">
		
		</div>

		<div class="col-xs-12 col-md-8" id="right-block">
			
		</div>
	</div> <!-- end row -->
</div> <!-- end comments -->