<div class="container-fluid" id="thank-you">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h4>Thank you.</h4>
    </div>
  </div>
  
  <div class="row row-centered text-center">  
    <div class="col-xs-12">
      <p id="p01-white">We have received your message and will respond as soon as possible.</p>
    </div>
  </div>
</div> <!-- end container-fluid -->