<div class="container" id="thank-you">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h2>Thank you.</h2>
    </div>
  </div>
  
  <div class="row row-centered text-center">  
    <div class="center-block">
      <p id="p01-white">We have received your message and will respond as soon as possible.</p>
      </div>
    </div>


</div> <!-- end container-fluid -->