<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
  <table align="center" border=" 1px solid #cccccc" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tbody>
      <tr> <!-- logo -->
        <td bgcolor="#38b4c1" style="padding: 10px 10px 10px 10px;" align="center">
          <img src="images/res-series.png" alt="The Reservoir Run Series logo" width="300" height="200" style="display: block;"/>
        </td>
      </tr> <!-- end logo -->
      
      <tr> <!-- header -->
        <td bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="padding: 60px 0px 0px 0px;" width="100%">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <p style="color: #1b1b1f; font-family: Arial, sans-serif; font-size: 15px;" align="center">You have recieved a new contact form message. The contents of the message are:</p>
        </td>
      </tr> <!-- end header -->

<td align="center">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="250" height="200" style="display: block;" border="1" bgcolor="#38b4c1">
   </td>
   
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td <td width="250" height="200" style="display: block;" border="1" bgcolor="#38b4c1">
   </td>
  </td>
  </tr>
 </table>
</td>
      
      <tr> <!-- message -->
        <td bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="padding: 60px 10px 100px 0px;" align="center">
          <b style="color: #38b4c1; font-family: Arial, sans-serif; font-size: 22px;"><%= @message %></b>
        </td>
      </tr> <!-- end message -->
      
      <tr> <!-- footer -->
        <td bgcolor="#1b1b1f" style="padding: 20px 0px 20px 0px;" align="center">
          <b style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">Social Media links in here</b>
        </td>
      </tr> <!-- end footer -->
    
    </tbody>
  </table>
</body>