<div class="container-fluid" id="thank-you">
	<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
	<h1>New User</h1>
	  </div>
  </div>

    <div class="row row-centered text-center">  
    <div class="center-block">

<%= render 'form' %>

<%= link_to 'Back', users_path %>

      </div>
    </div>

</div>
