<div class="container" id="thank-you">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h2>Thanks!</h2>
    </div>
  </div>
  
  <div class="row row-centered text-center">  
    <div class="center-block">
      <p id="p01-white">We have received your registration, good luck with the training!</p>

      <p id="p01-white">Check your inbox for your confirmation email and further race details.</p>
      </div>
    </div>


</div> <!-- end container-fluid -->