// Fonts.

h1, h2, h3, p {
  color: #38b4c1;
  font-size: 2em;
}

p#p01 {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: #38b4c1;
}

p#p01-review{
  font-size: 1.4em;
  letter-spacing: -0.3px;
  line-height: 115%;
  color: white;
}

p#p01-comment {
  font-size: 1.4em;
  letter-spacing: -0.3px;
  line-height: 115%;
  color: white;
  margin-top: 10px;
}

p#p01-time {
  font-size: 1.4em;
  letter-spacing: -0.3px;
  line-height: 115%;
  color: #1b1b1f;
}

p#p02 {
  font-size: 1.2em;
  line-height: 115%;
  color: #38b4c1;
}

p#p03 {
  font-size: 2.5em;
}

p#p04 {
  font-size: 3em;
  font-weight: 200;
   color: white;
}

p#p05 {
  font-size: 2em;
  font-weight: 200;
  color: white;
  margin-top: 20px;
}
// end Fonts.

// Pagination.\
.pagination a{
	color: white;
}

.span.previous_page.disabled a {
	color: white;
}
// ends Pagination

// Review page.
body.comments.index {  
  background-image: image-url('review2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0; 
}

#reviews {
  height: 100vh;
  margin: 0px;
  position: relative;
  background-image: 
    linear-gradient(
      rgba(56, 180, 193, 0.5),
      rgba(1, 1, 1, 0.8)
      );
}

#image-review {
  margin-top: 85px;
  height: 110%;
}

#left-block {
  margin-top: 40px;
}

#h-rules{
  margin-top: 200px;
  padding: 0;
}

#right-block {
  background-color: #38b4c1;
  height: 100%;
}

#review-comment {
  margin-top: 40px;
}

#comment_body {
  margin-top: 0.6px;
  padding-top: 0;
}

.product-reviews {
  padding-left: 20px;
  padding-right: 20px;
}

// #image-review {
//   margin-right: 0px;
//   margin-left: 0px;
// }
// ends Review page.
