// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colours and colour tints.
$blue-main: #38b4c1;
$black-main: #1b1b1f;
$black-tint: rgba(1, 1, 1, 0.6);
$blue-tint: rgba(56, 180, 193, 0.5);
// ends Colours and colour tints.


// .container {
//   width: 100%;
//   margin: 0 auto;
// }

body {
  position: relative;
}

// Fonts.
h1,
h2, {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
  color: #38b4c1;
  font-size: 2em;
}

p#p01 {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: $blue-main;
}

p#p01-white {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: white;
}

p#p02 {
  font-size: 1.2em;
  line-height: 115%;
  color: $blue-main;
}

p#p03 {
  font-size: 2.5em;
}

p#p04 {
  font-size: 3em;
  font-weight: 200;
   color: white;
}

p#p05 {
  font-size: 2em;
  font-weight: 200;
  color: white;
  margin-top: 20px;
}

// end Fonts.

// Navbar
.navbar-fixed-top {
  height: 85px;
  background-color: $black-main;
  border: 0;
  margin-bottom: 0px;
}

.nav.navbar-nav li a {
  color: #38b4c1;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 08px;
}

.navbar-default .navbar-brand  {
  padding-left: 10px;

}

.navbar-brand {
  width: 140px;
  margin-top: 0px;
  margin-left: 05px;
  padding-top: 05px;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: $black-main;
}

.navbar-toggle {
  background-color: $blue-main;
  border: 0;
}

.navbar-fixed-top .navbar-toggle:hover {
  background-color: $blue-main;
  border: 0;
}

.form-group input {
  background-color: $blue-main;
  color: $black-main;
}
// ends Navbar.

// Expanding Search Bar
// .sb-search {
//   position: relative;
//   margin-top: 10px;
//   width: 0%;
//   min-width: 60px;
//   height: 60px;
//   float: right;
//   overflow: hidden;

//   -webkit-transition: width 0.3s;
//   -moz-transition: width 0.3s;
//   transition: width 0.3s;

//   -webkit-backface-visibility: hidden;
// }

// .sb-search-input {
//   position: absolute;
//   top: 0;
//   right: 0;
//   border: none;
//   outline: none;
//   background: #38b4c1;
//   width: 100%;
//   height: 60px;
//   margin: 0;
//   z-index: 10;
//   padding: 20px 65px 20px 20px;
//   font-family: inherit;
//   font-size: 20px;
//   color: #fff;
// }

// input[type="search"].sb-search-input {
//   -webkit-appearance: none;
//   -webkit-border-radius: 0px;
// }

// .sb-search-input::-webkit-input-placeholder {
//   color: #efb480;
// }

// .sb-search-input:-moz-placeholder {
//   color: #efb480;
// }

// .sb-search-input::-moz-placeholder {
//   color: #efb480;
// }

// .sb-search-input:-ms-input-placeholder {
//   color: #efb480;
// }

// .sb-icon-search,
// .sb-search-submit  {
//   width: 60px;
//   height: 60px;
//   display: block;
//   position: absolute;
//   right: 0;
//   top: 0;
//   padding: 0;
//   margin: 0;
//   line-height: 60px;
//   text-align: center;
//   cursor: pointer;
// }

// .sb-search-submit {
//   background: #fff; /* IE needs this */
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
//     filter: alpha(opacity=0); /* IE 5-7 */
//     opacity: 0;
//   color: transparent;
//   border: none;
//   outline: none;
//   z-index: -1;
// }

// .sb-icon-search {
//   color: #fff;
//   background: #38b4c1;
//   z-index: 90;
//   font-size: 22px;
//   font-family: 'icomoon';
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   -webkit-font-smoothing: antialiased;
// }

// .sb-icon-search:before {
//   content: "\e000";
// }

// .sb-search.sb-search-open,
// .no-js .sb-search {
//   width: 100%;
// }

// .sb-search.sb-search-open .sb-icon-search,
// .no-js .sb-search .sb-icon-search {
//   background: #da6d0d;
//   color: #fff;
//   z-index: 11;
// }

// .sb-search.sb-search-open .sb-search-submit,
// .no-js .sb-search .sb-search-submit {
//   z-index: 90;
// }
// ends Expanding Search Bar

// Footer.
.footer.footer {
  height: 40px;
  background-color: $black-main;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.footer p {
  font-size: .8em;
  color: white;
  padding-top: 10px;
  width: 50%;
  margin-left: 15px;
  padding-left: 10px;
  display: inline-block;
  letter-spacing: 0.1em;
  text-align: left;
}
// end Footer */

// // Alert and Notice.
#messages {
  margin-top: 10px;
  text-align: center;
}

#notice {
  color: $black-main;
  font-weight: 600;
}

#notice.alert-info {
  background-color: $blue-main;
  border: 0;
  border-radius: 0;
  margin-top: 10px;
}
// // ends Alert and  Notice */

// Index page.
body.static_pages.index {  //had been changed to body only for image but didnt work//
  background-image: image-url('res-run2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;

}

#index {
  height: 100%;
  margin: 0px; 
  background-image: 
    linear-gradient(
      $blue-tint,
      $black-tint
      );
}

// ** Unused CSS, remove when finalised ** //

// hr.style2 {
//   border-top: 10px double #38b4c1;
//   width: 100%;
// }

// .btn.btn-default {
//   background-color: none;
//   border-radius: 0;
//   border-style: white;
//   color: black;
//   font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
//   text-decoration: none;
// }

// .btn.btn-default:hover {
//   background-color: none;
//   color: white;
//   outline-style: white
// }

// .btn.btn-default:active {
//   background-color: #1b1b1f;
//   border: #1b1b1f;
// }

// .col-center-block {
//     float: none;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

// ** end Unused CSS, remove when finalised ** //
// ends Index page.

// * Home page //
#home {
  height: 100%;
  margin: 0px; 
  background-image: 
    linear-gradient(
      $blue-tint,
      $black-tint
      );
}

#resrunlogo { 
  margin-top: 40px;
 
}

#intro {
  margin-top: 110px;
}

#intro h2 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  line-height: 1;
  word-spacing: 0px;
  font-weight: normal;
  font-size: 5em;
}

#intro h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.5em;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;

}

#date h2 {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#enter-race { 
  margin-top: 10px;
}

hr.style2 {
  border-top: 10px double $blue-main;
  width: 100%;
}

.btn.btn-lg {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
  background-color: none;
  border-radius: 0;
  color: white;
  border: 4px double white;
  background: none; 
  padding: 12px 60px;  
}

.btn.btn-lg:hover {
  background-color: none;
  color: rgb(56, 180, 193);
  outline-style: white;
  border: 4px double rgb(56, 180, 193);

}

body.static_pages.home {  //had been changed to body only for image but didnt work//
  background-image: image-url('res-run2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}
// * ends Home page //

// Login page.
body.static_pages.login {
  background-image: image-url('res-run2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

#login {
  height: 100%;
  margin: 0px; 
  background-image: 
    linear-gradient(
      $blue-tint,
      $black-tint
      );
}

#login-black {
  background-color: rgba(56, 180, 193, 0.6); // * Black as rgba. *
  height: 50px;
  width: 500px;
  margin-top: 300px;
}

#login-black:hover {
  background-color: rgba(1, 1, 1, 0.6); // * Black as rgba. *
  height: 50px;
  width: 500px;
  margin-top: 300px;
}

#login-back-btn {
  margin-top: 20px;
}
// ends Login page.

// About page.
body.static_pages.about {
  background-image: image-url('res-run2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;

}

#about {
  height: 100%;
  margin: 0px; 
  background-image: 
    linear-gradient(
      $blue-tint,
      $black-tint
      );
  }

#about-info {
  margin: 0 auto;
  margin-top: 80px;
 
}

#about-back-btn {
  margin-top: 100px;
}

// ** Unused CSS, remove when finalised ** //

// #about-blue {
//   background-color: rgba(56, 180, 193, 0.6); // * Blue as rgba. *
//   height: 294px;
// }

// ** ends Unused CSS, remove when finalised ** //

// ends About page.

// Contact page.
body.static_pages.contact {
  background-image: image-url('res-run2.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

#contact {
  height: 100%;
  margin: 0px; 
  background-image: 
    linear-gradient(
      $blue-tint,
      $black-tint
      );
}

#contact-info {
  margin: 0 auto;
  margin-top: 80px;
}

#info-black {
  background-color: $black-tint; 
  height: 300px;
}

#contact-back-btn {
  margin-top: 100px;
}

// contact form.
#name.form-control {
  background-color: $black-tint;
  border: none;
  border-radius: 0;
}

#email.form-control {
  background-color: $black-tint;
  border: none;
  border-radius: 0;
}

#message.form-control {
  background-color: $black-tint;
  border: none;
  border-radius: 0;
}

// ** Unused CSS, remove when finalised ** //

// #contact-blue {
//   background-color: rgba(56, 180, 193, 0.6); // * Blue as rgba. *
//   height: 294px;
//   width: 400px;
//   margin-right: 10px;
// }

// #contact-black {
//   background-color: rgba(1, 1, 1, 0.6); // * Black as rgba. *
//   height: 500px;
//   width: 500px;
//   padding: 10px;
//   margin: 05px;
// }

// .carousel-indicators {
//     bottom: -50px;
//   }
//  .carousel-inner {
//     margin-bottom: 50px;
//  }

//  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {
//   position: static;
//   display: block;
//   width: auto;
//   margin-top: 310px;
// }

// #carousel-caption {
//   margin-top: 100px;
// }

// ** end Unused CSS, remove when finalised ** //

// end contact form.


// Thank You page.
#thank-you {
  background-color: $blue-main;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

#thank-you h2 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 5em;
}
// end Thank You page.

// ends Contact page.

// colour blocks.
// #black {
//   background-color: rgba(1, 1, 1, 0.6); // * Black as rgba. *
//   height: 500px;
//   width: 380px;
//   padding: 10px;
//   margin: 05px;
// }

// #blue {
//   background-color: rgba(56, 180, 193, 0.6); // * Blue as rgba. *
//   height: 500px;
//   width: 380px;
//   padding: 10px;
//   margin: 05px;
// }
// ends colour blocks.

