// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Pictures.
$picture1: image-url('run1.jpg');
$picture2: image-url('road1.jpg');
$picture3: image-url('water1.jpg');
$picture4: image-url('run-legs.jpg');
$picture5: image-url('feet-leaves.jpg');
$picture6: image-url('water2.jpg');
$picture7: image-url('water3.jpg');
$picture8: image-url('leaves1.jpg');
// ends Pictures

// Colours and colour tints.
$black-main: #1b1b1f;
$blue-main: #38b4c1;

$black-tint: rgba(1, 1, 1, 0.7);
$blue-tint: rgba(56, 180, 193, 0.9);

$black-tint1: rgba(1, 1, 1, 0.5);
$blue-tint1: rgba(56, 180, 193, 0.7);

$white-tint: rgba(255, 255, 255, 0.7);
$white-tint1: rgba(255, 255, 255, 0.5);
// ends Colours and colour tints.

// Fonts.
h1,
h2, {
  font-family: "azo-sans-web", Futura, Helvetica, Arial, sans-serif;
}

h4 {
  font-family: "justus-pro", Bitter, sans-serif;
}

h1, h2, h3, p {
  color: $blue-main;
  font-size: 2em;
}

p#p01 {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: $blue-main;
}

p#p01-white {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: white;
}

p#p02 {
  font-size: 1.2em;
  line-height: 120%;
  color: $blue-main;
}

p#p03 {
  font-size: 2.5em;
}

p#p04 {
  font-size: 3em;
  font-weight: 200;
   color: white;
}

p#p05 {
  font-size: 2em;
  font-weight: 200;
  color: white;
  margin-top: 20px;
}

p#p06 {
  font-size: 1em;
  font-weight: 500;
  color: $blue-main;
  margin-bottom: 05px;
}
// end Fonts.

// Navbar
.navbar-fixed-top {
  height: 85px;
  background-color: $black-main;
  border: 0;
  margin-bottom: 0px;
}

.nav.navbar-nav li a {
  color: $blue-main;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 08px;
}

.navbar-default .navbar-brand  {
  padding-left: 10px;
}

.navbar-brand {
  width: 140px;
  margin-top: 0px;
  margin-left: 05px;
  padding-top: 05px;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: $black-main;
}

.navbar-toggle {
  background-color: $blue-main;
  border: 0;
  border-radius: 0px;
}

.navbar-fixed-top .navbar-toggle:hover {
  background-color: $blue-main;
  border: 0;
}

.navbar-collapse.collapse.in {
  border-color: $black-main;
  border: 0;
  border-radius: 0;
  background-color: $black-main;
  margin-top: 30px;
}

.form-group input {
  background-color: $blue-main;
  color: $black-main;
  border: 0;
  border-radius: 0;
  height: 35px;
  margin-right: 10px;
  font-weight: 600;
}

// Footer.
.footer.footer {
  background-color: $black-main;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
}

.footer p {
  font-size: .8em;
  color: white;
  padding-top: 10px;
  width: 50%;
  margin-left: 15px;
  padding-left: 10px;
  display: inline-block;
  letter-spacing: 0.1em;
  text-align: left;
}
// end Footer */

// // Alert and Notice.
#messages {
  margin-top: 10px;
  text-align: center;
}

#alerts {
  position: absolute;
  top: 410px;
}

.alert-info {
  background-color: transparent;
  border-color: transparent;
}

#alerts h4 {
  width: 100%;
  background-color: $blue-main;
  border: 0;
  border-radius: 0;
  padding: 10px;
  font-size: 2em;
  color: $black-main;
  font-weight: 600;
  text-align: center;
  // margin-top: 100px;
}
// // ends Alert and  Notice */

// Index page.
body.static_pages { 
  background: $picture1, linear-gradient(to bottom, $blue-tint, $black-tint); // *
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#resrunlogo { 
  margin-top: 40px;
 }

#intro {
  margin-top: 80px;
}

#intro h4 {
  color: $white-tint;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1;
  word-spacing: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 6em;
}

#intro h3 {
  color: white;
  font-size: 3.5em;
  font-weight: 200;
  line-height: 0.7;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
  text-align: center;
}

#date h2 {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#enter-race { 
  margin-top: 10px;
}

hr.style2 {
  border-top: 10px double $blue-main;
  width: 100%;
}

hr.style4 {
  border-top: 10px double $black-tint1;
  width: 100%;
}

hr.style5 {
  border-top: 10px; 
  color: white;
  width: 100%;
}

// #reg-btn {
//   margin-top: 60px;
// }

.btn.btn-lg {
  font-family: Azo Sans, Arimo, Futura, Helvetica, Arial, sans-serif;
  background-color: none;
  border-radius: 0;
  color: white;
  border: 4px double white;
  background: none; 
  padding: 12px 60px;  
}

.btn.btn-lg:hover {
  background-color: none;
  color: rgb(56, 180, 193);
  outline-style: white;
  border: 4px double rgb(56, 180, 193);
}



// About page.
body.static_pages.about {
  background: $picture7, linear-gradient(to bottom, $blue-tint, $black-tint);
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

#center-block {
  height: 100%;
}

 #my-center-block {
  background-color: $black-tint1;
  height: 100vh;
  width: 400px;
  // margin-top: 100px;
  // margin-left: 40px;
  // margin-right: 40px;
  // padding: 10px;
  display: inline-block;
  // float: none;
  vertical-align: top;
}

#my-center-block h4{
  color: $white-tint;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1;
  word-spacing: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 4em;
}

#my-inner-block {
  margin-top: 90px;
  // padding-left: 15px;
  // padding-right: 15px;
}

#about {
  padding: 0px;
}

#about h4{
  color: $white-tint;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1;
  word-spacing: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 2em;
}

#about-back-btn {
  margin-top: 100px;
}
// ends About page.

// Contact page.
body.static_pages.contact {
  background: $picture8, linear-gradient(to bottom, $blue-tint, $black-tint);
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-bottom: 0;
}

// #contact {
//   padding: 0px;
// }

// #contact-info {
//   margin: 0 auto;
//   margin-top: 80px;
//   height: 90%;
// }

#contact-back-btn {
  margin-top: 100px;
}

.form-control {
  padding: 10px;
}
// contact form.
#name.form-control {
  background-color: $blue-main;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}

#email.form-control {
  background-color: $blue-main;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}

#message.form-control {
  background-color: $blue-main;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
}

 .field em {
  color: $white-tint1;
 }

.btn.btn-sm {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: none;
  border-radius: 0;
  color: white;
  border: 4px double white;
  background: none; 
  padding: 6px 10px;
  margin-bottom: 10px;
}

 // end contact form.

 // Thank You page.
#thank-you {
  background-color: $blue-main;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

#thank-you {
  margin-top: 80px;
}

#thank-you h4 {
  color: $white-tint;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 6em;
}
// end Thank You page.

/* Media Queries ------------------ */
@media (max-width: 767px) {
  body.static_pages {
    background: $blue-tint;
  }
}

@media (max-width: 766px) {
    #intro h4 {
    margin-top: 20px;
    font-size: 3.5em;
    line-height: 0.9;
  }

  #home-date h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}

@media (max-width: 414px) {
  #intro {
    margin-top: 100px;
  }
  
  #intro h4 {
    // font-family: Justus Pro;
    color: $white-tint;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 05px;
    text-align: center;
    line-height: 1;
    word-spacing: 0px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 2em;
    }

  #intro h3 {
    margin-top: 10px;
    line-height: 0.3;
  }

  #my-center-block {
    background-color: $black-tint1;
    height: 100vh;
    width: 100%;
  }

  #my-inner-block h4 {
    font-size: 3em;
    font-weight: 700;
  }

  #thank-you h4 {
    font-size: 4em;
    margin-top: 80px;
  }

  p#p01-white {
    font-size: 2em;
    letter-spacing: -0.5px;
    line-height: 115%;
  }
}

@media (max-width: 375px) {
  #intro h4 {
    font-size: 4.5em;
  }
}

@media (max-width: 320px) {
  #intro h4 {
    // font-family: Justus Pro;
    margin-top: 05px;
    font-size: 3.5em;
    line-height: 0.9;
    letter-spacing: -.4px;
    font-weight: 700;
  }
  
  #intro h3 {
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    line-height: 0.3;
  }

  hr {
    margin-top: 05px;
    margin-bottom: 10px;
  }

  #my-inner-block h4 {
    margin-top: 10px;
  }

   #thank-you h4 {
    font-size: 3.5em;
    margin-top: 80px;
  }

    p#p01-white {
    font-size: 1.7em;
    letter-spacing: -0.5px;
    line-height: 115%;
  }
}

// @media (min-width: 414px) {
//   #intro h3 {
//     color: white;
//     font-size: 3.5em;
//     font-weight: 200;
//     line-height: 0.7;
//     margin: 0 auto;
//     margin-top: 10px;
//     margin-bottom: 40px;
//     text-align: center;
//   }
// }



// @media (max-width: 320px) {
//   #about {
//     width: 90%;
//     margin-left: 5px;
//     margin-right: 5px;
//   }
// }
