// Pictures. 
$picture1: image-url('run1.jpg');
$picture2: image-url('road1.jpg');
// ends Pictures

// Colours and colour tints.
$black-main: #1b1b1f;
$blue-main: #38b4c1;

$black-tint: rgba(1, 1, 1, 0.6);
$blue-tint: rgba(56, 180, 193, 0.9);

$black-tint1: rgba(1, 1, 1, 0.5);
$blue-tint1: rgba(56, 180, 193, 0.7);

$white-tint: rgba(255, 255, 255, 0.7);
$white-tint1: rgba(255, 255, 255, 0.5);
// ends Colours and colour tints.

// Fonts.
h1,
h2, {
  font-family: "azo-sans-web", Futura, Helvetica, Arial, sans-serif;
}

h4 {
  font-family: "justus-pro", Bitter, Georgia, serif;
}

h1, h2, h3, p {
  color: $blue-main;
  font-size: 2em;
}

p#p01 {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: $blue-main;
}

p#p01-white {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  line-height: 115%;
  color: white;
}

p#p02 {
  font-size: 1.2em;
  line-height: 120%;
  color: $blue-main;
}

p#p03 {
  font-size: 2.5em;
}

p#p04 {
  font-size: 3em;
  font-weight: 200;
   color: white;
}

p#p05 {
  font-size: 2em;
  font-weight: 200;
  color: white;
  margin-top: 20px;
}

p#p06 {
  font-size: 1em;
  font-weight: 500;
  color: $blue-main;
  margin-bottom: 05px;
}
// end Fonts.

body.sessions.new {  //had been changed to body only for image but didnt work//
  background: $picture2, linear-gradient(to bottom, $blue-tint, $black-tint);
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

body.user_registrations.new {  
  background: $picture2, linear-gradient(to bottom, $blue-tint, $black-tint);
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

body.user_registrations.create {  
  background: $picture2, linear-gradient(to bottom, $blue-tint, $black-tint);
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
}

// // Horizontal Rules. Testing this out as a style for now.
// $hr1: 10px, #fff, width: 100%, margin-top: 10px;
// // ends Horizontal Rules

#registrations-new {
  padding: 0px;
}

 .actions {
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

 #user_email {
  border: 0;
  border-radius: 0;
  background-color: $blue-main;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
 }

input:focus {
  outline: none;
}

//* removes yellow autofill in Chrome ---------- */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px $blue-main inset;
  -moz-box-shadow: 0 0 0 100px $blue-main inset;
  box-shadow: 0 0 0 100px $blue-main inset;
}
// * ends removes yellow autofill in Chrome ---------- */

#user_password {
  border: 0;
  border-radius: 0;
  background-color: $blue-main;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
 }

#user_password_confirmation {
  border: 0;
  border-radius: 0;
  background-color: $blue-main;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
 }

.field { 
  color: $blue-main;    
  font-size: 1em;
  font-weight: 500;
  // margin-bottom: 0px;
}

 .field em {
  color: $white-tint;
 }

.field input {
  color: $black-main;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
 }

.devise-links a {
  font-family: "justus-pro", Bitter, Georgia, serif;
  font-size: 1.5em;
  font-weight: 400;
 	margin-bottom: 50px;
  color: $blue-main;
 }

.devise-links a:hover {
  text-decoration: none;
  color: $white-tint;
 }


#error_explanation h2 {
  font-family: "justus-pro", Bitter, Georgia, serif;
  font-size: 4em;
  font-weight: 800;
  color: $blue-main;
}

#reg-new-row {
  text-align: center;
  margin-top: 100px;
 }

//  #my-center-block {
//   background-color: $black-tint1;
//   height: 100vh;
//   width: 400px;
//   // margin-top: 100px;
//   // margin-left: 40px;
//   // margin-right: 40px;
//   // padding: 10px;
//   display: inline-block;
//   // float: none;
//   vertical-align: top;
// }

#my-center-block h4 {
  color: $white-tint;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1;
  word-spacing: 0px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 4em;
}

// #my-inner-block {
//   margin-top: 90px;
// }

#edit {
  margin-top: 100px;
}

#user-index {
  margin-top: 100px;
  background-color: $blue-main;
}

#user-show {
  margin-top: 100px;
}

// Password new page
// #thank-you {
//   background-color: green;
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   background-size: cover;
//   margin-bottom: 0;
//   margin-top: 50px;
// }

// Forgot Your Password.
#forgot-password {
  background-color: $blue-main;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

#forgot-password  h4 {
  color: $white-tint;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 6em;
}

#forgot-password label {
  color: white;
  font-weight: 400;
}

#forgot-password input#user_email {
  background-color: $black-tint;
  border-radius: 0;
  padding: 10px;
  width: 70%;
}

#forgot-password input:focus {
  outline: none;
}

#forgot-password input.btn.btn-sm:hover {
  color: $black-tint;
  background-color: none;
  outline-style: $black-tint;
  border: 4px double $black-tint;
}
// ends Forgot Your Password

/* Media Queries ------------------ */

@media (max-width: 414px) {
  #forgot-password  h4 {
    font-size: 4em;
    margin-top: 100px;
  }

#forgot-password input#user_email {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 320px) {
  #forgot-password  h4 {
    font-size: 3em;
    margin-top: 100px;
  }

  #name.form-control {
    margin-bottom: 10px;
  }

  #email.form-control {
    margin-bottom: 10px;
  }

 #user_email {
    margin-bottom: 10px;
  }

 #user_password {
    margin-bottom: 10px;
  }

  #user_password_confirmation {
    margin-bottom: 15px;
  }

  #new_user label {
    margin-bottom: 5px;
  }

  .actions {
    margin-bottom: 5px;
  }

  #error_explanation h2 {
    font-size: 3em;
    margin-top: 2px;
  }
}

// * end Password new page
